<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962958553439-ot97jpcf3eeqp085eqr3j378qch10gu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962958553439-ot97jpcf3eeqp085eqr3j378qch10gu2</string>
	<key>API_KEY</key>
	<string>AIzaSyCRWblGCD_jZcQKDDyUSHR23ZI7g2rcbiw</string>
	<key>GCM_SENDER_ID</key>
	<string>962958553439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>mochagatha-45596</string>
	<key>STORAGE_BUCKET</key>
	<string>mochagatha-45596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962958553439:ios:14a67cdd228b7143e746ea</string>
</dict>
</plist>